body {
    font-size: 14px;
}
.v1_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.v1_3 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.v1_15 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 253px;
    left: 644px;
    font-family: Montserrat, serif;
    font-weight: Bold;
    font-size: 34px;
    opacity: 1;
    text-align: left;
}
.v1_16 {
    width: 466px;
    height: 60px;
    background: url("img/Reg_images/RL_background.png");
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 676px;
    left: 481px;
    border-radius: 10px;
    overflow: hidden;
}
.v1_10 {
    width: 293px;
    color: rgba(103,103,103,0.5);
    position: absolute;
    top: 0;
    left: 102px;
    font-family: Montserrat, serif;
    font-weight: 900;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v1_18 {
    width: 466px;
    height: 59px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 481px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
}
.v1_19 {
    width: 468px;
    height: 59px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 486px;
    left: 479px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
}
.v1_34 {
    width: 67px;
    color: rgba(255,253,253,1);
    position: absolute;
    top: 615px;
    left: 672px;
    font-family: Poppins, serif;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v1_35 {
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    opacity: 0.25;
    position: absolute;
    top: 450px;
    left: 230px;
    overflow: hidden;
}
.v1_36 {
    width: 25px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 544px;
    left: 370px;
    overflow: hidden;
}
.v1_37 {
    width: 93px;
    color: rgba(127,127,127,1);
    position: absolute;
    top: 412px;
    left: 543px;
    font-family: Poppins, serif;
    font-weight: 900;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v1_38 {
    width: 87px;
    color: rgba(127,127,127,1);
    position: absolute;
    top: 501px;
    left: 543px;
    font-family: Poppins, serif;
    font-weight: 900;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v1_39 {
    width: 25px;
    height: 25px;
    background: rgba(127,127,127,1);
    opacity: 1;
    position: absolute;
    top: 501px;
    left: 504px;
}
.name {
    color: #fff;
}
.v106_492 {
    width: 307px;
    color: rgba(81,118,248,1);
    position: absolute;
    top: 38px;
    left: 52px;
    font-family: Poppins, serif;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}
.v1_42 {
    width: 30px;
    height: 30px;
    background: rgba(127,127,127,1);
    opacity: 1;
    position: absolute;
    top: 407px;
    left: 501px;
}